.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #ffffff;

    display: flex;
    justify-content: center;
}
.BadgeNew__hero-image {
    max-height: 100px;
}
